<template name="query_details">
    <div class="pull-left"><h3>{{venuesNum}} venues</h3></div>
    <div class="pull-right"><a class="btn btn-primary btn-lg" id="download">Export CSV</a></div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Name</td>
                <td>City</td>
                <td>Street address</td>
                <td>Latitude</td>
                <td>Longitude</td>
            </tr>
        </thead>
        <tbody>
            {{#each venues}} {{>query_detail}} {{/each}}
        </tbody>
    </table>
</template>

